name: Deploy to VPS

on:
  push:
    branches: [production]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          script: |
            cd /root/app/Logistics-Control-Hub
            git fetch origin
            git checkout production
            git pull origin production
            docker compose down
            docker compose build --no-cache
            docker compose up -d
            docker image prune -f
